vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -ms-{prop} args
    -o-{prop} args
    {prop} args

transition()
    vendor('transition', arguments)
    
.socicons
  font-size 3rem
  &__vk
    color #45668e
    transition(color, 200ms linear)
    &:hover
      color darken(#45668e, 10)
      transition(color, 200ms linear)
  &__fa
    color #3b5998
    transition(color, 200ms linear)
    &:hover
      color darken(#3b5998, 10)
      transition(color, 200ms linear)
  &__twitter
    color #55acee
    transition(color, 200ms linear)
    &:hover
      color darken(#55acee, 10)
      transition(color, 200ms linear)
  &__github
    color #666666
    transition(color, 200ms linear)
    &:hover
      color darken(#666666, 10)
      transition(color, 200ms linear)
  &__skype
    color #00aff0
    transition(color, 200ms linear)
    &:hover
      color darken(#00aff0, 10)
      transition(color, 200ms linear)
  & .fa
    margin-right 15px