vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -ms-{prop} args
    -o-{prop} args
    {prop} args

transition()
    vendor('transition', arguments)
    
.socicons
  font-size 3rem
  &__ico
    margin-right 15px
    transition(color, 200ms linear)
    &--vk
      color #45668e
      &:hover
        color darken(#45668e, 10)
    &--fa
      color #3b5998
      &:hover
        color darken(#3b5998, 10)
    &--twitter
      color #55acee
      &:hover
        color darken(#55acee, 10)
    &--github
      color #666666
      &:hover
        color darken(#666666, 10)
    &--skype
      color #00aff0
      &:hover
        color darken(#00aff0, 10)
      